<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Accessibility Testing Suite" verbose="1">
    <test name="SauceDemo Accessibility Tests">
        <classes>
            <class name="com.accessibility.tests.SauceDemoAccessibilityTest"/>
        </classes>
    </test>
    <test name="DemoQA Accessibility Tests">
        <classes>
            <class name="com.accessibility.tests.DemoQAAccessibilityTest"/>
        </classes>
    </test>
</suite>
